@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Ubuntu:wght@400;500&display=swap');

body {
    background: linear-gradient(90deg, rgba(210,210,210,1) 0%, rgba(0,0,0,1) 100%);
}

.logo_text-container {
    height: 10px;
    overflow: hidden;
}
.logo_img {
    transform: rotate(1.5deg);
}

.logo_text{
    position: absolute;
    top: 120px;
    left: 10px;
    opacity: 0;
    font-size: 1.5rem;
    font-family: 'Abril Fatface', sans-serif;
    font-weight: 500;
    color: black;
    z-index: -10;
    transition: all 0.3s;
}

.logo_circle {
    position: fixed;
    overflow: visible;
    top: -100px;
    left: -200px;
    width: 50px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    opacity: 0;
    transition: all o.3s;
    z-index: -20;
    /*border: 1px solid #333;*/
    filter: blur(5px);
}

/*--------------hover boxes--------------*/

.hover_boxes {
    position: absolute;
    top: -100px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.hover_box-left {
    width: 35vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.hover_box-right {
    width: 35vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.hover_btn {
    width: 100px;
    height: 50px;
    background-color: black;
}

/*--------------card effect--------------*/

.card {
    position: relative;
    cursor: pointer;
  }
  
  .face {
    width: 280px;
    height: 90px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 90px;
    border: 1.5px solid #333;
  }
  
  .face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(180px);
  }
  
  .card:hover .face1 {
    background: #0f91bd;
    transform: translateY(90px);
  }
  
  .content {
    opacity: 0.5;
    transition: 0.5s;
    font-size: 1.3rem;
  }
  
  .card:hover .content {
    opacity: 1;
  }
  
  .content h3 {
    text-align: center;
    color: white;
  }
  
  .face2 {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(0px);
    box-shadow:0 40px 15px -15px rgba(0, 0, 0, 0.2);
  }
  
  .face2 .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .before_text {
    display: block;
  }

  .after_text {
    display: none;
  }

  .after_text1 {
    height: 100px;
    display: none;
    transform: translateY(40px);
  }

  .content2 {
    transition: 0.5s;
    font-size: 1.5rem;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content2-btn {
    transform: translateY(7px);
  }

  .line {
    position: absolute;
    top:45px;
    width: 0px;
    border-bottom: 2px solid black;
    transition: all 0.7s;
  }
  
  .content2 a {
    text-decoration: none;
    text-align: center;
    background: #333;
    color: white;
    width: 200px;
    height: 50px;
    color: black;
    background: white;
    padding: 4px;
    font-weight: 500;
  }

  .content2:hover .line {
    width: 150px;
  }
  
  .card:hover .face2{
    transform: translateY(0px);
  }

  .card:hover .before_text{
    display: none;
  }

  .card:hover .after_text{
    display: block;
  }

  .card:hover .after_text1{
    display: block;
    animation: liftUp 2s forwards 2s;
  }

  @keyframes liftUp {
    to {
      transform: translateY(-25px);
    }
}

  .card-left {
    font-family: 'Agbalumo', sans-serif;
  }

  .card-right {
    font-family: 'Ubuntu', sans-serif;
  }

/*--------------left/right boxes--------------*/

.main_container-left{
    width: 100vw;
    height: auto;
    transition: all 0.5s;
    font-family: 'Agbalumo', sans-serif;
    color: #505050;
}

.main_container-right{
    width: 100vw;
    height: auto;
    transition: all 0.5s;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.video{
    width: 300px;
    height: auto;
}

.lager-box {
    width: 10vw;
    height: 10vh;
    background-color: black;
}

/*--------------left--------------*/

.text {
    font-size: 2.2rem;
    width: 500px;
    height: 100px;
    text-align: center;
}

.left1 {
    position: fixed;
    top: 20%;
    left: 10px;
    transform: skew(60deg, 20deg) scale(0);
    color: black;
}

.left2 {
    position: fixed;
    top: 30%;
    left: 27%;
    color: black;
    transform: skew(-60deg, -20deg) scale(0);
}

.left3 {
    position: fixed;
    bottom: 25%;
    left: 10%;
    color: #121212;
    transform: skew(90deg, 60deg) scale(0);
}

/*--------------right--------------*/

.right1 {
    position: fixed;
    right: 0;
    top: 21%;
    color: #dfdfdf;
    transform: scale(0);
}

.right2 {
    position: fixed;
    right: 16%;
    bottom: 27%;
    color: #dfdfdf;
    transform: scale(0);

}

.right3 {
    position: fixed;
    right: -5%;
    bottom: 19%;
    color: #e8e8e8;
    transform: scale(0);
}

.box {
    position: absolute;
    left: -300px;
    bottom: -300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(2px);
    background-color: #e8e8e8;
    transition: width 0.3s;
    z-index: -30;
}

.box2 {
    position: absolute;
    right: -300px;
    bottom: -300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(2px);
    background-color: #232323;
    transition: width 0.3s;
    z-index: -30;
}

/*--------------video--------------*/

.video_container {
    position: absolute;
    left: 0;
    top:0;
    z-index: -20;
    background-size: cover;
    opacity: 0;
    filter: blur(10px);
    width: 100vw;
    height: 100vh;
    background-color: black;
}
