/*--------------mobile--------------*/

@media only screen and (max-width: 768px) {

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .header_container {
    width: 100%;
    height: auto;
  }
  
  .header_container img {
    width: 65vw;
    margin: 0.8rem;
  }

  .hover_container {
    margin-top: 400px;
    height: 80vh;
    overflow: visible;
  }

  .hover_boxes {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    top: 0;
  }

  .hover_box-left, .hover_box-right {
    margin-top: 40px;
    width: 100%;
    padding: 0;
    height: 30vh;
  }

  .card {
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 80px;
  }

  .face {
    width: 100%;
    margin: 0;
  }

  .face1 {
    transform: translateY(90px);
    animation: cardOpen 2s forwards 1.5s;
  }

  @keyframes cardOpen {
    to {
      background: #0f91bd;
      transform: translateY(0px);
  }
  }

  .line {
    animation: wideLine 2s forwards 2.5s;
  }

  @keyframes wideLine {
    to {
      width: 150px;
  }
  }

.video_container {
  display: none;
}

.main-container {
  display: none;
  visibility: hidden;
}

.capyright_text-mobile {
  display: block;
  position: absolute;
  right: 3px;
  bottom: 3px;
  color: rgba(255, 255, 255, 0.5);
}

  }